@model Garage2.Models.ParkedVehicle

@{
    ViewData["Title"] = "AdvancedSearch";
}

<h1>Advanced Search</h1>

<hr />

<div class="col-md-4 m-2">



    <form asp-action="AdvancedSearchList">


        <div class="form-group">
            <label asp-for="LicensePlate" class="control-label">License Plate</label>
             <input type="text" class="form-control" name="Licence" />
        </div>

        <div class="form-group">
            <label asp-for="VehicleType" class="control-label">Vehicle Type</label>
            
                <select name="VehicleT" asp-items="@Html.GetEnumSelectList<VehicleType>()" class="form-control">
                </select>
           
        </div>
        <div class="form-group">
            <label asp-for="Color" class="control-label">Color</label>
           
                <select name="VehicleC" asp-items="@Html.GetEnumSelectList<VehicleColor>()" class="form-control">
                </select>
           
        </div>
        <div class="row m-1">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search"> &nbsp;Search</i></button>
        </div>




    </form>

</div>