@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
	<h1 class="display-1">Welcome to Garage 2.0</h1>
	<hr />
    <div>
        <div><p class="display-3">Available spaces</p></div>
        <div><img src="https://d1vq4hxutb7n2b.cloudfront.net/system/files/5464cf/e5342b82962500004d/w_412,dpr_2.625/BaBajaMesa9254construction1.gif" alt="Alternate Text" /></div>
        
	</div>

	
    <p class="display-4">&#64;@Globals.ParkingPrice SEK/min</p>
</div>


