@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center jumbotron">
	<h1 class="display-3">Welcome to Garage 2.0</h1>
	<hr />
    <div>
        <div><p class="display-1">Available spaces</p></div>
       
        
	</div>

	
    <p class="display-4">&#64;@Globals.ParkingPrice SEK/min</p>
</div>


